.gradient-underline {
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
  margin-bottom: 30px;
}

.gradient-underline::after {
  background: #fd749b;
  content: "";
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 50px;
  border-radius: 10px;
}
