.gradient-small-button {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 25px;
  text-align: center;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 5px;
  border: none;
  color: white;
}
