.background-wave {
  background-image: url("../../../Images/Waves/oie_jno8Pj8eWIuY.png"),
    linear-gradient(174.48deg, hsl(343, 97%, 72%) -12.41%, #281ac8 88.56%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
